
.wsae-wrapper{
  --story-size: 350px;
}

:root {
--wsae-border-width: 5px; /* Example value */
}

.wsae_circle{
--story-size: 100px;
--wsae-border-color: red;
}

.wsae-wrapper .borderDiv{
background-image: linear-gradient(to right, var(--wsae-border-color), var(--wsae-gradient-color,var(--wsae-border-color)));
border-radius: 50%;
height: var(--story-size); 
width: var(--story-size);
padding: var(--wsae-border-width);
}

.wsae-wrapper img {
width: 100%;
height: 100%;
border: 0px;
background-color: white;
padding: var(--wsae-border-padding);
border-radius: 50%;
}


.wae_btn_setting {
position: absolute;
-ms-transform: translate(-50%, -50%);
/* Standard syntax 
border-radius: 5px;*/
max-width: 150px;
transform: translate(-50%, -50%);
/* left: calc(var(--story-size)/2); */
margin-top: 0px;
z-index:1;
}

.wsae-grid-container a {
text-decoration: none !important;
}

.wase_gridb_button {
border-radius: 5px;
max-width: 150px !important;
-ms-transform: translate(-50%, -50%); /* IE 9 */
transform: translate(-50%, -50%); /* Standard syntax */
left: 50%;
position: relative;
}

.aligncenter {
/* margin-bottom: 35px !important; */
}
:root:not(.i-amphtml-story-vertical) amp-story {
position: static !important;
}
.column-wpseo-score code {
display: none !important;
}

  
.wsae-wrapper .wsae-amp{

  margin: 0;
  width: var(--story-size);
 height: calc(var(--story-size) * 1.7); 
  }


.wsae-grid-container{
  row-gap: 41px;
}


@media only screen and (max-width: 468px) {
.wsae-grid-container {
  display: block;
  grid-template-columns: auto;
  grid-gap: 5px;
  overflow: auto;
  padding: 5px;
}

.elementor-widget-container amp-story-player{
  width:auto !important;
}
.wae_btn_setting {
  transform: translate(-50%, -50%);
  left: 50%;
}

}

.wp-block-web-stories-embed {
position:relative;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
height: 100%; 
}

